/* app/reset-password/ResetPasswordEmail.module.css */
.resetPasswordEmail {
    background-color: #fff;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 112px;
    font-family:
            Merriweather,
            -apple-system,
            Roboto,
            Helvetica,
            sans-serif;
    font-weight: 400;
    line-height: 1.2;
    display: flex;
    overflow: hidden;
}

@media (width<=991px) {
    .resetPasswordEmail {
        padding-bottom: 100px;
    }
}

.navbar {
    color: #000;
    white-space: nowrap;
    background-color: #fff;
    border-color: #c7c7cc;
    border-bottom-width: 1px;
    flex-direction: column;
    align-items: start;
    width: 100%;
    font-size: 40px;
    display: flex;
    overflow: hidden;
}

@media (width<=991px) {
    .navbar {
        max-width: 100%;
        white-space: initial;
        padding-right: 20px;
    }
}

.navContainer {
    justify-content: start;
    align-items: center;
    gap: 40px 100px;
    width: 186px;
    max-width: 100%;
    display: flex;
}

@media (width<=991px) {
    .navContainer {
        white-space: initial;
    }
}

.logoWrapper {
    justify-content: start;
    align-self: stretch;
    align-items: center;
    gap: 20px;
    width: 186px;
    min-height: 64px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 20px;
    display: flex;
}

@media (width<=991px) {
    .logoWrapper {
        white-space: initial;
    }
}

.logo {
    align-self: stretch;
    width: 166px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: inherit;
    font-weight: inherit;
}

@media (width<=991px) {
    .logo {
        white-space: initial;
    }
}

.passwordBox {
    color: #000;
    background-color: #fff;
    border: 1px solid #c7c7cc;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 600px;
    max-width: 100%;
    margin-top: 48px;
    padding: 66px 50px;
    display: flex;
    overflow: hidden;
}

@media (width<=991px) {
    .passwordBox {
        margin-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.resetPasswordTitle {
    text-align: center;
    font-size: 96px;
    line-height: 115px;
    font-weight: inherit;
}

@media (width<=991px) {
    .resetPasswordTitle {
        max-width: 100%;
        font-size: 40px;
        line-height: 53px;
    }
}

.resetPasswordDescription {
    text-align: center;
    width: 401px;
    margin-top: 13px;
    font-size: 20px;
    line-height: 24px;
}

.formContainer {
    color: #c7c7cc;
    white-space: nowrap;
    align-self: stretch;
    width: 100%;
    margin-top: 10px;
    font-family:
            Inter,
            -apple-system,
            Roboto,
            Helvetica,
            sans-serif;
    font-size: 33px;
}

@media (width<=991px) {
    .formContainer {
        max-width: 100%;
        white-space: initial;
    }
}

.inputContainer {
    gap: 40px 90px;
    width: 100%;
    min-height: 29px;
    display: flex;
}

@media (width<=991px) {
    .inputContainer {
        max-width: 100%;
    }
}

.inputWrapper {
    width: 100%;
    margin-top: 13px;
}

@media (width<=991px) {
    .inputWrapper {
        max-width: 100%;
        white-space: initial;
    }
}

.inputBox {
    background-color: #fff;
    border: 1px solid #c7c7cc;
    border-radius: 8px;
    align-self: stretch;
    gap: 10px;
    width: 100%;
    padding: 12px 19px;
    overflow: hidden;
    font-size: inherit;
    color: inherit;
}

@media (width<=991px) {
    .inputBox {
        max-width: 100%;
        white-space: initial;
    }
}

.sendEmailButton {
    color: #fff;
    text-align: center;
    background-color: #090c9b;
    border: none;
    border-radius: 8px;
    align-self: stretch;
    gap: 10px;
    width: 300px;
    max-width: 100%;
    min-height: 64px;
    margin-top: 198px;
    padding: 13px 20px;
    font-family:
            Inter,
            -apple-system,
            Roboto,
            Helvetica,
            sans-serif;
    font-size: 32px;
    font-weight: 500;
    cursor: pointer;
}

@media (width<=991px) {
    .sendEmailButton {
        margin-top: 40px;
    }
}